#projects-container:hover > .projects > h2 > .hover {
    opacity: 1.0;
}

#projects-container:hover > .projects > h2 > .hover::after {
    width: 100%;
}

.screen {
    width: 100%;
    margin: 5px;
    border: solid #000;
    border-width: 1px;
    border-radius: 15px;
}