.bmain {
    max-width: calc(60vw * 0.4);
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 100%;
}

.blob {
    z-index: 1;
    cursor: pointer;
}

.bio-blob {
    width: 100%;
    height: 100%;
    padding-top: 10vh;
    /* background: #000; */
}

#blob-svg {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

.blob {
    fill: white;
}

.blobs {
    filter: url("#goo");
}

.button {
    background-color: var(--teal);
    color: var(--light);
    font-family: "Montserrat";
    width: 7em;
    padding: 0.8em;
    padding-bottom: 0.9em;
    border-radius: 2em;
    margin-top: 2em;
    cursor: pointer;
}