#bio-container:hover > #biography > h2 > .hover {
    opacity: 1.0;
}

#bio-container:hover > #biography > h2 > .hover::after {
    width: 100%;
}

#bio-container {
    display: flex;
    margin-bottom: 2em;
    text-align: justify;
}

.contact-buttons {
    text-align: center;
    margin: 3em 0 3em 0;
}
  
.contact-buttons a {
    font-family: "Courier Prime", monospace;
    font-size: 1em;
    color: var(--gray);
    padding: 0 0.5em 3em 0.5em;
}