#bio-container:hover > #biography > h2 > .hover {
    opacity: 1.0;
}

#bio-container:hover > #biography > h2 > .hover::after {
    width: 100%;
}

#bio-container {
    display: flex;
    margin-bottom: 2em;
    text-align: justify;
}

.contact-buttons {
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}
  
.contact-buttons a {
    font-family: "Courier Prime", monospace;
    font-size: 1em;
    color: var(--gray);
    padding: 0 0.5em 0.5em 0.5em;
}

#bio-row {
    display: flex;
    justify-content: right;
}

#bio-body {
    /* width: 70%; */
    margin: 4vw 0 1vw 0;
}

#bio-left {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

#headshot {
    /* width: 20%; */
    height: 50vh;
    object-fit: cover;
    margin: 0 5%;
    /* padding: 4px 32px 2px 4px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25); */
}
