#experience-container:hover > #experience > h2 > .hover {
    opacity: 1.0;
}

#experience-container:hover > #experience > h2 > .hover::after {
    width: 100%;
}
#experience-body {
    display: inline-block;
}
#logoLeft {
    float: left;
    left: 0;
    width: 15%;
    height: 80vh;
    overflow-y: scroll;
}
#logoLeft > img:hover {
    transform: scale(0.90);
    transition-duration: 300ms;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--gray);
}
::-webkit-scrollbar-thumb {
    background: var(--teal);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
}
#descRight {
    float: right;
    right: 0;
    width: 80%;
}
.workLogo{
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    width: 90%;
}
.workDescription {
    display: none;
}
#expInstructions {
    display: block;
}