#experience-container:hover > #experience > h2 > .hover {
    opacity: 1.0;
}

#experience-container:hover > #experience > h2 > .hover::after {
    width: 100%;
}
#experience-body {
    display: inline-block;
}
#logoLeft {
    float: left;
    left: 0;
    width: 15%;
    height: 80vh;
    overflow-y: scroll;
}
#logoLeft > img:hover {
    transform: scale(0.90);
    transition-duration: 300ms;
}
#descRight {
    float: right;
    right: 0;
    width: 80%;
}
.workLogo{
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    width: 90%;
}
.workDescription {
    display: none;
}
#expInstructions {
    display: block;
}

#timeline {
    border-left: 0.4em solid var(--teal);
    border-top: 0.4em solid var(--lightgray);
    border-right: 0.4em solid var(--lightgray);
    border-bottom: 0.4em solid var(--lightgray);
    margin: 0 4vw;
    line-height: 1.4em;
    padding: 2em;
    list-style: none;
    text-align: left;
    margin-right: 3em;
    border-radius: 0.8em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
}

.exp {
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
    position: relative;
}

.exp-logo {
    width: 10%;
    height: inherit;
    padding: 0 20px 20px 0;
}

.exp-title {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
}

.exp-title h4:hover {
    color: var(--pink);
}

#timeline .exp:before,
#timeline .exp:after {
  position: absolute;
  display: block;
  top: 1em;
}

/* #timeline .exp:before {
  left: -15em;
  color: rgba(255, 255, 255, 0.8);
  content: attr(date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 9em;
} */

#timeline .exp:after {
  box-shadow: 0 0 0 0.2em var(--teal);
  left: -2.1em;
  top: 2.8em; 
  background: #FFFFFF;
  border-radius: 50%;
  height: 0.75em;
  width: 0.75em;
  content: "";
}

.exp-info {
    padding: 10px;
    text-align: left;
    position: relative;
}

.exp-location, .exp-details {
    display: none;
}

.exp-details {
    font-size: 16px;
}

.work-link {
    text-align: center;
    margin: 0.5em 0 0.5em 0;
    font-family: "Courier Prime", monospace;
    font-size: 1em;
    color: var(--gray);
    padding: 0 0.5em 0.5em 0.5em;
}