li {
    font-family: 'Quasimoda';
    font-weight: 500;
    font-size: 1.3em;
    line-height: 1.4;
    letter-spacing: 0.05em;
    margin-bottom: -30px;
}

#feature-container:hover > #feature > h2 > .hover {
    opacity: 1.0;
}

#feature-container:hover > #feature > h2 > .hover::after {
    width: 100%;
}