#landing-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}
#landing-container canvas, #landing-overlay {
    position: absolute;
    overflow: hidden;
}

#landing-overlay {
    z-index: 999 !important;
    color: var(--dark);
    left: 20%;
    top: 40%;
    width: 60%;
    height: 60%;
    flex-direction: row;
    flex-direction: column;
}

h1 {
    font-family: 'Quasimoda';
    display: inline-block;
    font-weight: 700;
    font-size: 4em;
    color: var(--dark);
    align-self: left;
}

#canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#prev-exp {
    font-family: 'Courier Prime', monospace;
    font-size: 1em;
    opacity: 0.4;
    padding-top: 0.5em;
    font-weight: normal;
    color: var(--dark);
}

#intro-text {
    flex-basis: 60%
}

#intro-arrow {
    flex-basis: 40%
}

/* Rotating Text CSS */
.col1 { color: var(--dark) }
.col2 { color: var(--teal) }
.col3 { color: var(--pink) }
.col4 { color: var(--orange) }

.rotating-text {
    overflow: hidden;
}

.rotating-text h1 {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}
.rotating-text h1 .word {
    position: absolute;
    display: flex;
    opacity: 0;
    overflow: hidden;
    padding-bottom: 0.12em;
}
.rotating-text h1 .word .letter {
    transform-origin: center center 0.8em;
}
.rotating-text h1 .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text h1 .word .letter.in {
    transition: 0.32s ease;
}
.rotating-text h1 .word .letter.behind {
    transform: rotateX(-90deg);
}

/* Arrow CSS */
.arrow-part {
    display: block;
    position: absolute;
    margin: 1.5em;
}