@media all and (max-width: 450px) {
  .mobile-only {
    display: inline-block !important;
  }

  #landing-overlay {
    overflow: hidden;
    left: 10vw !important;
    width: 80vw !important;
    padding: 0 !important;
  }

  h1 {
    font-size: 2em !important;
  }

  h2 {
    font-size: 2em !important;
  }

  .mobile-hide {
    display: none !important;
  }

  .rotating-text {
    height: 2em !important;
  }

  #bio-container, #feature-container, #experience-container, #projects-container{
    padding: 0 5vw 30px 5vw !important;
  }

  #bio-row {
    flex-direction: column !important;
    margin: 0 auto !important;
  }

  #bio-body {
    width: 100% !important;
  }

  #headshot {
    width: auto !important;
  }

  #logoLeft {
    width: 25% !important;
    height: auto !important;
    overflow-y: scroll !important;
  }

  ::-webkit-scrollbar {
    width: 5px !important;
}

  #descRight {
    width: 70% !important;
  }

  .infoLeft {
    max-width: 100% !important;
    float: none !important;
    display: block !important;
  }

  .desRight {
    max-width: 100% !important;
    float: none !important;
    display: block !important;
  }

  .projectChooser:active .projectList {
    display: block !important;
  }

  .exp-logo {
    width: 50% !important;
    padding: 0 !important;
  }

  .exp-title {
    flex-direction: column !important;
  }

}