@media all and (max-width: 450px) {
  .mobile-only {
    display: inline-block !important;
  }

  #landing-overlay {
    overflow: hidden;
    left: 10vw !important;
    width: 80vw !important;
    padding: 0 0;
  }

  h1 {
    font-size: 2em !important;
  }

  h2 {
    font-size: 2em !important;
  }

  p {
    font-size: 1em !important;
  }

  .mobile-hide {
    display: None !important;
  }

  .rotating-text {
    height: 2em;
  }

  #bio-container, #feature-container, #experience-container, #projects-container{
    padding: 0 5vw 30px 5vw !important;
  }

  /* #bio-row {
    flex-direction: column;
    margin: 0 auto;
  } */

  /* #bio-body {
    width: 100%;
  }

  #headshot {
    width: 100%;
  } */

  #logoLeft {
    width: 25% !important;
    /* height: auto !important; */
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    width: 5px;
}

  #descRight {
    width: 70% !important;
  }

  .infoLeft {
    max-width: 100% !important;
    float: none;
    display: block !important;
  }

  .desRight {
    max-width: 100% !important;
    float: none;
    display: block !important;
  }

  .projectChooser:active .projectList {
    display: block;
  }
}