#projects-container:hover > .projects > h2 > .hover {
    opacity: 1.0;
}

#projects-container:hover > .projects > h2 > .hover::after {
    width: 100%;
}

.projects-body {
    min-height: 50vh;
}

.screen {
    width: 100%;
    margin: 20px 0 20px 0;
    border: solid #000;
    border-width: 1px;
    border-radius: 15px;
}

.projectDescription {
    height: auto;
    width: 100%;
    display: none;
}

#projInstructions {
    display: block;
    margin: 25px;
}

.infoLeft {
    display: block;
    float: left;
    max-width: 35%;
    overflow-wrap: break-word;
}

.desRight {
    float: right;
    max-width: 60%;
    text-align: right;
    overflow-wrap: break-word;
}

.techStack {
    font-family: "Courier Prime", monospace !important;
    margin-top: 25px;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: var(--orange);
    color: var(--lightgray);
    padding: 10px;
    font-size: 1.4em;
    width: 200px;
    border: none;
    cursor: pointer;
    font-family: 'Quasimoda';
}

/* The container <div> - needed to position the dropdown content */
.projectChooser {
    position: relative;
    display: inline-block;
    font-family: 'Montserrat';
}

/* Dropdown Content (Hidden by Default) */
.projectList {
    display: none;
    position: absolute;
    background-color: var(--lightgray);
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.projectList a {
    color: var(--dark);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.projectList a:hover {
    background-color: var(--gray)
}

/* Show the dropdown menu on hover */
.projectChooser:hover .projectList {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.projectChooser:hover .dropbtn {
    filter: brightness(80%);
}