@import url(https://use.typekit.net/sxg7zok.css);
@import url("./arrow.css");
@import url("./landing.css");
@import url("./bio.css");
@import url("./feature.css");
@import url("./experience.css");
@import url("./projects.css");
@import url("./where.css");
@import url("./mobile.css");
@import url("./services.css");

:root {
    --light: #fbfffe;
    --dark: #141021;
    --teal: #218E81;
    --pink: #E12A62;
    --orange: #FF7200;
    --gray: #999;
    --lightgray: #eee;
}

.mobile-only {
    display: None; 
}

html {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--light);
}

.main-card {
    margin-bottom: 2em !important;
    width: 100vw;
    padding-top: 0;
    padding-bottom: 40vh;
}

.main-container {
    background: var(--light);
    color: var(--dark);
    padding: 0vh 20vw;
}

h2 {
    font-family: 'Quasimoda';
    font-weight: 700;
    font-size: 3em;
}
h3 {
    font-family: 'Quasimoda';
    font-size: 1.8em;
}

h4,h5,h6{
    font-family: 'Quasimoda';
}
p {
    display: block;
    font-family: 'Montserrat';
    font-size: 1.1em;
    margin-top: 0;
    line-height: 1.4;
    letter-spacing: 0.05em;
}
em {
    font-style: italic;
}
.hover {
    color: var(--dark);
    text-decoration: none;
    padding: 20px 0px;
    margin: 0px 20px 0px 0px;
    display: inline-block;
    position: relative;
    opacity: 0.6;
    z-index: 1;
}
.hover::after {
    transition: 300ms;
    height: 35px;
    content: "";
    position: absolute;
    background-color: var(--pink);
    opacity: 0.25;
    z-index: -1;
    width: 0%;
    left: 10px;
    bottom: 15px;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #0d0d0d;
    transition: all 0.2s ease;
}
a:hover {
    color: var(--pink);
}

#footer {
    text-align: center;
    font-size: 0.8em;
    display: block;
    bottom: 0;
    margin: 100px 0 0 0;
    clear: both;
}

/* Shared CSS */
#biography, #feature, #experience, #projects {
    float: left;
    line-height: 1.0;
    width: 100%;
}

#bio-body, #feature-body, .experience-body, .projects-body {
    margin-top: 0.5em;
    margin-bottom: 2em;
    margin-right: 2em;
}